[include mainsail.cfg]
[include neopixel.cfg]
[include tmc2209.cfg]
[include macros.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_28001D001450305031353020-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 4000
max_z_velocity: 5
max_z_accel: 100

#[input_shaper]
#shaper_freq_x: 45.089
#shaper_type_x: mzv
#shaper_freq_y: 42.895
#shaper_type_y: mzv

[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 30.144
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
#control: pid #see EOF for generated pid values
min_temp: 0
max_temp: 275
pressure_advance: 0.08

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 39.98
endstop_pin: ^PC1
position_endstop: 0
position_max: 200
homing_speed: 25

[stepper_y]
step_pin: PD5
dir_pin: PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 39.98
endstop_pin: ^PC3
position_endstop: 0
position_max: 200
homing_speed: 25

[stepper_z]
step_pin: PA15
dir_pin: !PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 4
endstop_pin: ^PC0
position_endstop: 0.1
position_max: 180
homing_speed: 15

[heater_bed]
heater_pin: PD7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA1
control: watermark
#control: pid
#pid_Kp: ?
#pid_Ki: ?
#pid_Kd: ?
min_temp: 0
max_temp: 90

[fan] #part cooling fan
pin: PB7

[heater_fan fan1] #hotend cooling fan
pin: PB6

#[heater_fan fan2] #skr cooling fans
#pin: PB5

[output_pin motor_power]
pin: PC13
value: 1

[verify_heater heater_bed]
#max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time: 60
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.156
#*# pid_ki = 1.016
#*# pid_kd = 131.989
#*#
#*# [stepper_z]
